<%= start_form_tag({:controller => 'memorials',  :action => 'search'}) %>
<div title="Search" id="searchform" class="form">
     <input type="text" id="q" name="q" value="" size="28" />
     <%= submit_tag "Search" %>
</div>
<%= end_form_tag %>