<h2 class="title_name"><%= @memorial.firstname %> <b><%= @memorial.lastname %></b></h2>
<p class="dob_to_dod"><%= dob_to_dod(@memorial) %></p>
<%= show_primary_picture(@memorial) %>
<p class="message"><%= @memorial.message %></p>
