<span class="memorial-show-name"><%= @memorial.firstname %> <b><%= @memorial.lastname %></b></span>    
<img alt="<%= @memorial.image %>" width="300" class="picture-memorial" src="<%= @memorial.image %>" />
<p></p>
<p><%= @memorial.message %></p>
