<div id="details">
        <b>Date of Birth:</b> <%= @memorial.date_of_birth %><br />
        <b>Date of Death:</b> <%= @memorial.date_of_death %><br />	
        <b>Hometown:</b> <%= @memorial.hometown %><br />
</div>