<object type="application/x-shockwave-flash"
data="/musicplayer_f6.swf?&autoplay=true&repeat=true&song_url=http://www.foreverrememberme.com/music/harbour-lights-low.mp3&" 
width="17" height="17">
<param name="movie" 
value="/musicplayer_f6.swf?&autoplay=true&repeat=true&song_url=http://www.foreverrememberme.com/music/harbour-lights-low.mp3&" />
</object>
