<object type="application/x-shockwave-flash"
data="/musicplayer_f6.swf?&autoplay=false&repeat=true&playlist_url=/playlist.xspf&playlist_size=1&" 
width="17" height="17">
<param name="movie" 
value="/musicplayer_f6.swf?&autoplay=false&repeat=true&playlist_url=/playlist.xspf&playlist_size=1&" />
<img src="noflash.gif" 
width="17" height="17" alt="" />
</object>
