<object type="application/x-shockwave-flash"
data="http://musicplayer.sourceforge.net/button/musicplayer_f6.swf?&autoplay=true&repeat=true&song_url=http://www.foreverrememberme.com/music/canon-in-d.mp3&" 
width="17" height="17">
<param name="movie" 
value="http://musicplayer.sourceforge.net/button/musicplayer_f6.swf?&autoplay=true&repeat=true&song_url=http://www.foreverrememberme.com/music/canon-in-d.mp3&" />
</object>
