<h3>Recent Memorials</h3>
<% for memorial in @memorials %>
	<div class="recentmemorial">
    	<a href="/memorial/show/<%= memorial.id %>">
			<%= show_primary_picture(memorial, 128) %>
			<span><%= memorial.firstname %> <b><%= memorial.lastname %></b></span>
			<p><%= dob_to_dod(memorial) %></p>
		</a>
	</div>
<% end %>
