<h3>Recent Memorials</h3>
<% for memorial in @memorials %>
	<div class="recentmemorial">
    	<a href="/memorial/show/<%= memorial.id %>">
			<img alt="<%= memorial.image %>" width="128" class="" src="<%= memorial.image %>" />
			<span><%= memorial.firstname %> <b><%= memorial.lastname %></b></span>
		</a>
	</div>
<% end %>