<div id="searchbox">
        <h3>Search for your loved one:</h3>
            <%= start_form_tag({:controller => 'memorial',  :action => 'search'}) %>
            <div title="Search" id="searchform" class="form">
                 <input type="text" id="q" name="q" value="" size="28" />
                 <%= submit_tag "Search" %>
            </div>
            <%= end_form_tag %>
        <p class="small">Examples: "John Doe" or "Lamb" or "Las Vegas"</p>
</div>
