<div id="thin-right-column" class="floatright">
	<p>When this memorial is ready to be extended again in ten years you will be e-mailed.</p>
</div>
<div id="wide-left-column" class="">
<h3>Thank you for extending <%= @memorial.full_name %>'s memorial.</h3>
<p>You may now <%= link_to "return to your memorial manage page", :action => "manage" %></p>
</div>