<h1>Extend <%= @memorial.full_name %>'s memorial for ten years.</h1>

<p>This is where the extension is explained.</p>

<p>$49.95 will extend <%= @memorial.full_name %>'s till <%= extended_date @memorial %>