<div id="thin-right-column" class="floatright">
	<%= render :partial => "featured_memorials" %>
	Music Player: <%= render :partial => "musicplayer" %>
</div>
<div id="wide-left-column" class="">
	<%= preference("features") %>
	<br />
	<h4 class="center"><%= link_to "Create A Memorial Website Now For Your Loved One", :controller => 'memorial', :action => 'new' %></h4>
	<h4 class="center"><i>Remember - it's free for ten days!</i></h4>
</div>