<div class="column-right">
    <%= render_partial 'managebar' %>
</div>
<div class="column-left">
    <h2>Proceeding to Step 2</h2>
    <p>Now we can proceed with step 2, adding a memorial to our account.</p>
    <p>All we have to do is click the Add Memorial link on the right hand side of this page, under the Manage Memorials section.</p>    
    <h2>Your Memorials</h2>
    <%= render_partial 'activememorials' %>
</div>
