<div id="wide-left-column" class="">
<h3>Thank you for leaving a tribute for <%= @memorial.full_name %></h3>
<p>You may view your tribute on <%= link_to_memorial "#{@memorial.full_name}'s' memorial", @memorial %>.</p>
</div>