body {
	text-align: center;
	margin: 20px;
	padding: 0;
	font-family: Verdana,"Geneva CE",sans-serif;
	font-size: 80%;
	line-height: 150%;
	background: #000 url("../images/bg2.gif");
}

a, a:link, a:visited { color: #000; }
a:hover { color: #000; text-decoration: none; }

a img {
border-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color:rgb(103,18,3);
}

h1 {
	
	padding: 0;
	margin: 0;
	font-size: 2em;
}

h2 { 
	font-size: 2em;
	color: #5BB3C4;
	font-weight: normal;
	line-height: 130%;
	margin: 0.5em 0 0.1em 0;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

h4 {
	font-size: 1em;
	margin: 0;
}

h5 {
	font-size: 1.2em;
	margin: 0;
}

p { 
	margin: 0 0 1em 0;
}

b {
	color: #000;
}

h4, p, li {
	color: #606060;
}


.quote {
	font-size: 1.4em;
	text-align: center;
	font-style: italic;
}

.clearer {
clear:both;
height: 1px;
margin: -1px 0px 0px 0px;
padding:0px;
border-style: none;
visibility: hidden;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.padding {
	padding: 5px;
}

.clearleft  { clear:  left; }
.clearright { clear: right; }

.center {
	text-align: center;
}

/*************** Wrapper **************/
#wrapper1 {
	margin: 0 auto;
	width: 750px;
	padding: 0;
	border: 3px solid #1a0704;
}

#wrapper2 {
	background: #fff;	
}

/*************** Header ***************/
#header {
	height: 280px;
}

.heading {
	display: none;
}

.banner {
}

/************** Linkbar ***************/
ul#linkbar {
	margin:0 0 15px 0;
	padding:5px;
	list-style:none;
	border-top: 3px solid #1a0704;
	border-bottom: 1px solid #ccc;
}

ul#linkbar h5 {
	display:inline;
}

ul#linkbar li {
	margin:0;
	padding:8px 10px 5px 10px;
	display:inline;
}

ul#linkbar li:hover {
	background-color: #f0f0f0;
}

ul#linkbar a {
	margin:0;
	padding:0;
	font-size:1em;
	text-decoration:none;	
	color: #505050;	
}

ul#linkbar a:hover {
	color: #000;	
}

.linkbar_pics {
	margin-right: 5px;
}

/************** Content ***************/
#content {
	width: 750px;
	text-align: left;
}

#wide-left-column {
	width: 570px;
	padding: 0 10px;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body #wide-left-column {
	width: 550px;
}

#thin-right-column {
	width: 140px;
	padding: 10px;
	margin-right: 5px;
	text-align: center;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body #thin-right-column {
	width: 150px;
}

.medium-left-column {
	width: 370px;
	padding: 0 15px;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body .medium-left-column {
	width: 350px;
}

.medium-right-column {
	width: 320px;
	padding: 10px;
	margin-bottom:1em;
	margin-right: 5px;
	text-align: left;
	background: #fffbf6;
	border: 1px solid #666;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body .medium-right-column {
	width: 320px;
}

.full-width-column {
	width: 730px;
	padding: 10px;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body .full-width-column {
	width: 750px;
}

div.single-column {
	padding:0 15px;
}

.col {
	width:48%
}

/* ------ form specific ------*/
/* ------ added by xian for the add tribute page ------*/

fieldset {
	padding:10px 0;
	border:none;
	border-top:1px solid #ccc;
}

legend {
	color:#999;
	text-transform:uppercase;
	font-size:.9em;
	padding-right:5px;
}

legend b { color:#888;}
/************ Page Specific Content Stuff **********/
ul#featured_memorials {
	margin:0;
	padding:0;
	list-style:none;
}

ul#featured_memorials li {
	margin-bottom: 10px;
	padding: 10px 5px 5px 5px;
	border: 2px solid #606060;
	background-color: #f0f0f0;
}

ul#featured_memorials li:hover {
	background-color: #fffbf6;
	font-weight: bold;	
}

ul#featured_memorials a {
	text-decoration: none;
}

ul#featured_memorials a:hover {
}

.featured_memorial

.line0 {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.line1 {
	background: #fffbf6;
}

ul#index-buttons a {
	font-size: 1.1em;
	color: #606060;
	text-decoration: none;
}

ul#index-buttons a:hover {
	color: #303030;
}

ul#index-buttons {
	margin: 0;
	padding: 5px;
	list-style: none;
}

ul#index-buttons p {
	margin: 0;
}

ul#index-buttons li {
	position:relative;
	margin-top: 10px;
	padding: 8px;
	background-color: #fffbf6;
	border: 1px solid #ccc;
}

ul#index-buttons h5 {
	position: relative;
	left: 26px;
}

ul#index-buttons p {
	position: relative;
	left: 26px;
	margin-right: 26px;
}

/*
ul#index-buttons li:hover {
	background-color: #f0f0f0;
}
*/

ul#index-buttons li img {
	position:absolute;
	top:8px; left:8px;
}

.memorial-textarea {
	border-top:1px solid #7d7d7d;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;	
	padding-bottom:5px;		
}

.memorial-textarea-shadow {
	border-top:1px solid #c3c3c3;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
	border-bottom:1px solid #fff;	
}

/*********** Formatted Box ***********/
.formattedbox {
	padding: 20px 20px 10px 20px;	
	border: 1px solid #000;
	background: #fff;
}

.formattedbox a, .formattedbox a:link, .formattedbox a:visited {
	color: #FF0000;
	font-weight: bold;
}

/*********** Tribute pages ************/

.tributepic {
	padding:1em;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}

.tributepic:hover img {
	border-color: #666;
}

.tributepic h3 {
	margin-bottom:0;
}
.tributepic p {
	margin:0;
	margin-left:25px;
}
.tributepic img {
	position:relative;
	left:23px;	
	border:2px solid white;
}
/************** Footer ***************/
#footer {
	padding: 6px 0 10px 0;
	border-top: 1px solid #ccc;	
	margin-top:2em;
}

.footing {
	padding: 15px 0 0 0;
}

/* ------ flash ------*/

div.flash {
	text-align:left;
	margin:10px;
	background:#eee url("../images/icon_notice.gif") 5px 50% no-repeat;
	font-weight:bold;
	padding:5px;
	padding-left:25px;
	border: 1px solid #bbb;
}

div.notice {
	color:#427924;
}


div.warning {
	color:#AC1F0B;
	background-image:url("../images/icon_warning.gif");
}