body {
	text-align: center;
	margin: 20px;
	padding: 0;
	font-family: Verdana,"Geneva CE",sans-serif;
	font-size: 70%;
	line-height: 150%;
	background: #eee url("../images/blue-green-stripes.jpg");
}

a, a:link, a:visited { color: #000; }
a:hover { color: #000; text-decoration: none; }

a img {
border-style: none;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 2em;
}

h2 { 
	font-size: 2em;
	color: #5BB3C4;
	font-weight: normal;
	line-height: 130%;
	margin: 0.5em 0 0.1em 0;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

h4 {
	font-size: 1em;
	margin: 0;
}

p { 
	margin: 0 0 1em 0;
}

b {
	color: #000;
}

h4, p, li {
	color: #606060;
}


.quote {
	font-size: 1.4em;
	text-align: center;
	font-style: italic;
}

.clearer {
clear:both;
height: 1px;
margin: -1px 0px 0px 0px;
padding:0px;
border-style: none;
visibility: hidden;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}
.clearleft  { clear:  left; }
.clearright { clear: right; }

.center {
	text-align: center;
}

/*************** Wrapper **************/
#wrapper1 {
	margin: 0 auto;
	width: 750px;
	padding: 1px;
	border: 3px solid #282F27;
}

#wrapper2 {
	background: #fff;	
}

/*************** Header ***************/
#header {
	height: 280px;
}

.heading {
	display: none;
}

.banner {
}

/************** Linkbar ***************/
#linkbar {
	padding: 5px;	
	width: 750px;
	background: #F1FDFD;
	border-top: 3px solid #282F27;
	border-bottom: 3px solid #282F27;
	voice-family: "\"}\"";
	voice-family: inherit;
}

html>body #linkbar {
	width: 740px;
	margin-bottom: 20px;
}

#linkbar ul {
	padding: 0;
	margin: 0;
	white-space : nowrap;
}

#linkbar ul li {
	display: inline;
}

#linkbar a {
	font-size: 1.3em;
	font-weight: bold;	
	padding: 5px 15px;
	border-left: 3px solid #F1FDFD;
	border-right: 3px solid #F1FDFD;
}

#linkbar a:hover {	
	background: #fff;
	border-left: 3px solid #282F27;
	border-right: 3px solid #282F27;
}

/************** Content ***************/
#content {
	width: 750px;
	text-align: left;
}

#wide-left-column {
	width: 570px;
	padding: 0 10px;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body #wide-left-column {
	width: 550px;
}

#thin-right-column {
	width: 140px;
	padding: 10px;
	margin-right: 5px;
	text-align: center;
	background: #F1FDFD;
	border: 1px solid #666;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body #thin-right-column {
	width: 150px;
}

.medium-left-column {
	width: 370px;
	padding: 0 15px;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body .medium-left-column {
	width: 350px;
}

.medium-right-column {
	width: 320px;
	padding: 10px;
	margin-bottom:1em;
	margin-right: 5px;
	text-align: left;
	background: #F1FDFD;
	border: 1px solid #666;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body .medium-right-column {
	width: 320px;
}

.full-width-column {
	width: 730px;
	padding: 10px;
	voice-family: "\"}\"";
	voice-family: inherit;	
}

html>body .full-width-column {
	width: 750px;
}

/************ Page Specific Content Stuff **********/
.recentmemorial {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px dashed #666;
	background: #eee;
}

.line0 {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.line1 {
	background: #F1FDFD;
}

/*********** Formatted Box ***********/
.formattedbox {
	padding: 20px 20px 10px 20px;	
	border: 1px solid #000;
	background: #fff;
}

.formattedbox a, .formattedbox a:link, .formattedbox a:visited {
	color: #FF0000;
	font-weight: bold;
}

/************** Footer ***************/
#footer {
	padding: 20px 30px;
}

.footing {
	padding: 10px;
	background: url("../images/grey-stripes.gif");
}

/* ------ flash ------*/

div.flash {
	text-align:left;
	margin:10px;
	background:#eee url("../images/icon_notice.gif") 5px 50% no-repeat;
	font-weight:bold;
	padding:5px;
	padding-left:25px;
	border: 1px solid #bbb;
}

div.notice {
	color:#427924;
}


div.warning {
	color:#AC1F0B;
	background-image:url("../images/icon_warning.gif");
}