body {
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: Verdana,"Geneva CE",sans-serif;
	font-size: 80%;
	color: #4C373E;	
	background: #eee url("../images/blue-green-stripes.jpg");	
}

a, a:link, a:visited { color: #000; }
a:hover { color: #000; text-decoration: none; }

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.center {
	text-align: center;
}

.clearer {
	clear: both;
}

/************ Site Links *************/

#linkbar_top {
	position: absolute;
	top: 0;
	left: 48px;
	height: 50px;
	width:700px;
	background: url("../images/linkbarbg-top.gif") no-repeat;
}

.forever_links ul {
	margin: 10px 0;
	padding: 0;
	text-align: center;
}

.forever_links li {
	display: inline;
}

.forever_links a {
	padding: 5px 10px;	
	font-size: 1.2em;
	color: #000;
}

.forever_links a:hover {
	background-color: #EDF5F8;
	border-top: 2px solid #D1EAF3;
	border-bottom: 2px solid #D1EAF3;	
}

#linkbar_bottom {
	margin: 0 0 0 48px;
	padding: 5px 0 0 0;
	height: 45px;
	width:700px;
	background: url("../images/linkbarbg-bottom.gif") no-repeat;
}


/************ Book **************/
#book {
	z-index: 0;
	position: absolute;
	top: 100px;
	width: 800px;
}

#topedge {
	height: 100px;
	background: url("../images/booktop.gif") no-repeat;
}

#page {
	margin-top: -20px;
	padding: 0 0 0 100px;
	background: url("../images/bookpage.gif") repeat-y;	
}

#bottomedge {
	margin-top: -20px;	
	height: 100px;
	background: url("../images/bookbottom.gif") no-repeat;	
}

/************ Bookmarks *************/
#bookmark-memorial a {
	z-index: 4;
	position: absolute;
	top: 10px;
	left: 200px;	
	display: block;
	width: 220px;
	height: 110px;
	text-indent: -1000px;
	background: url("../images/bookmark-memorial-down.gif") no-repeat;	
}

#bookmark-memorial a:hover {
	z-index: 7;
	height: 329px;
	background: url("../images/bookmark-memorial-up.gif") no-repeat;	
}

#bookmark-pictures a {
	z-index: 5;
	position: absolute;
	top: 9px;
	left: 350px;	
	display: block;
	width: 220px;
	height: 110px;
	text-indent: -1000px;
	background: url("../images/bookmark-pictures-down.gif") no-repeat;	
}

#bookmark-pictures a:hover {
	z-index: 8;
	height: 329px;
	background: url("../images/bookmark-pictures-up.gif") no-repeat;	
}

#bookmark-comments a {
	z-index: 6;
	position: absolute;
	top: 8px;
	left: 500px;
	display: block;
	width: 220px;
	height: 110px;
	text-indent: -1000px;
	background: url("../images/bookmark-comments-down.gif") no-repeat;	
}

#bookmark-comments a:hover {
	z-index: 9;
	height: 329px;
	background: url("../images/bookmark-comments-up.gif") no-repeat;	
}

/************* Userbox **************/
#userbox {
	z-index: 4;	
	position:absolute;
	top: 130px;
	left: 420px;
	width: 270px;
	background-color: #D7D4CD;	
}

#userbox p {
	margin: 0;
	padding: 5px 10px;
}

/************ Memorial **************/
#main_content {
	width: 590px;
	min-height: 400px;	
}

h2.title_name {
	margin: 0;
	padding: 0;
	font-size: 3em;
}

p.dob_to_dod {
	font-size: 1.2em;
	font-style: italic;
}

.mainpic {
	margin: 0 20px 20px 0;
}

#details {
	margin: 10px 20px 10px 10px;
	padding: 10px;
	background-color: #D7D4CD;	
}

.memorial-hr {
	margin-right: 130px;
}

.views {
	width: 570px;
	text-align: center;
}

/************ Pictures **************/
#pictures {
	width: 590px;
	min-height: 300px;
}

.thumb {
	margin: 10px;
	padding: 10px;
	background-color: #D7D4CD;	
}

.owner_thumb {
	text-align: center;
	width: 100px;
	height: 100px;
}

#pictures h3 {
	margin: 20px 0 20px 0;
	text-align: center;
}

.uploadform {
	width: 250px;
	padding: 20px;
	background-color: #D7D4CD;	
}

.pictures {
	width: 280px;
}

ul.options {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

/************ Comments **************/
#comments {
	width: 590px;
	min-height: 300px;		
}

#comments h3 {
	margin: 20px 0 20px 0;
}

.comment {
	float: left;
}

.leave_comment {
	float: right;
	padding: 20px;
	background-color: #D7D4CD;
}

/************ Footer ***************/
#footer {
	width: 400px;
	padding: 10px;
	background: url("../images/grey-stripes.gif");
	border: 1px solid #282F27;	
	text-align: center;
}
