body {
	text-align: left;
	margin-left:0;
	font-family: Verdana,"Geneva CE",sans-serif;
	font-size: 85%;
	color: #4C373E;	
	background: #000 url("../images/bg2.gif");
}

a, a:link, a:visited { color: #000; }
a:hover { color: #000; text-decoration: none; }

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.center {
	text-align: center;
}

.clearer {
	clear: both;
}

/************ Site Links *************/

#linkbar_top {
	position: absolute;
	top: 0;
	left: 48px;
	height: 50px;
	width:700px;
	background: url("../images/linkbarbg-top.gif") no-repeat;
}

.forever_links ul {
	margin: 10px 0;
	padding: 0;
	text-align: center;
}

.forever_links li {
	display: inline;
}

.forever_links a {
	padding: 5px 10px;	
	font-size: 1.2em;
	color: #000;
}

.forever_links a:hover {
	background-color: #EDF5F8;
	border-top: 2px solid #D1EAF3;
	border-bottom: 2px solid #D1EAF3;	
}

#linkbar_bottom {
	margin: 0 0 0 48px;
	padding: 5px 0 0 0;
	height: 45px;
	width:700px;
	background: url("../images/linkbarbg-bottom.gif") no-repeat;
}


/************ Book **************/
#book {
	z-index: 0;
	position: absolute;
	top: 120px;
	width: 800px;
}

#topedge {
	height: 100px;
	padding: 0 95px 0 87px;
	background: url("../images/booktop.gif") no-repeat;
}

#page {
	margin-top: -20px;
	padding: 0 0 0 100px;
	background: url("../images/bookpage.gif") repeat-y;	
}

#bottomedge {
	margin-top: -20px;	
	height: 100px;
	background: url("../images/bookbottom.gif") no-repeat;	
}

/************ Bookmarks *************/
#bookmark-memorial a {
	z-index: 4;
	position: absolute;
	top: 30px;
	left: 200px;	
	display: block;
	width: 200px;
	height: 106px;
	text-indent: -1000px;
	background: url("../images/bookmark-memorial.gif") 0 0 no-repeat;	
}

#bookmark-memorial a:hover {
	z-index: 7;
	height: 329px;
	background-position: -200px;
}

#bookmark-pictures a {
	z-index: 5;
	position: absolute;
	top: 29px;
	left: 350px;	
	display: block;
	width: 200px;
	height: 106px;
	text-indent: -1000px;
	background: url("../images/bookmark-pictures.gif") 0 0 no-repeat;	
}

#bookmark-pictures a:hover {
	z-index: 8;
	height: 329px;
	background-position: -200px;
}

#bookmark-comments a {
	z-index: 6;
	position: absolute;
	top: 28px;
	left: 500px;
	display: block;
	width: 200px;
	height: 106px;
	text-indent: -1000px;
	background: url("../images/bookmark-comments.gif") 0 0 no-repeat;
}

#bookmark-comments a:hover {
	z-index: 9;
	height: 329px;
	background-position: -200px;	
}

/************* Userbox **************/
#userbox {
	width: 550px;
	margin: 0 10px 10px;
	padding: 10px;
	background-color: #D7D4CD;	
}

#userbox p {
	margin: 0;
	padding: 5px 10px;
}

/************ Memorial **************/
#main_content {
	width: 590px;
	min-height: 400px;	
}

h2.title_name {
	margin: 0;
	padding: 0;
	font-size: 3em;
}

p.dob_to_dod {
	font-size: 1.2em;
	font-style: italic;
}

.mainpic {
	margin: 0 20px 20px 0;
}

#details {
	margin: 10px 20px 10px 10px;
	padding: 10px;
	background-color: #D7D4CD;	
}

.memorial-hr {
	margin-right: 130px;
}

.views {
	width: 570px;
	text-align: center;
}

div.tribute {
	margin-top:1.5em;
}
div.tribute img {
	float:left; 
	margin:0 .5em .5em 0;
}
/************ Pictures **************/
#pictures {
	width: 590px;
	min-height: 300px;
}

.thumb {
	margin: 10px;
	padding: 10px;
	background-color: #D7D4CD;	
}

.owner_thumb {
	text-align: center;
	width: 100px;
	height: 100px;
}

#pictures h3 {
	margin: 20px 0 20px 0;
	text-align: center;
}

.uploadform {
	width: 250px;
	padding: 20px;
	background-color: #D7D4CD;	
}

.pictures {
	width: 280px;
}

ul.options {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

/************ Comments **************/
#comments {
	width: 590px;
	min-height: 300px;		
}

#comments h3 {
	margin: 20px 0 20px 0;
}

.comment {
	float: left;
}

.comments {
	width:620px;
}

.leave_comment {
	float: right;
	padding: 20px;
	background-color: #D7D4CD;
}

/************ Footer ***************/
#footer {
	width: 400px;
	padding: 10px;
	background: url("../images/grey-stripes.gif");
	border: 1px solid #1a0704;	
	text-align: center;
}

/* ------ flash ------*/

div.flash {
	text-align:left;
	margin:10px;
	background:#eee url("../images/icon_notice.gif") 5px 50% no-repeat;
	font-weight:bold;
	padding:5px;
	padding-left:25px;
	border: 1px solid #bbb;
}

div.notice {
	color:#427924;
}


div.warning {
	color:#AC1F0B;
	background-image:url("../images/icon_warning.gif");
}