body {
	text-align: center;
	margin: 20px;
	padding: 0;
	font-family: Verdana,"Geneva CE",sans-serif;
	font-size: 70%;
	line-height: 150%;
	background: #eee url("../images/blue-stripes.gif");
}

a, a:link, a:visited { color: #f60; }
a:hover { color: #f60; text-decoration: none; }

a img {
border-style: none;
}

ul{
padding: 0;
margin: 0 0 1em 0;
}

ul li {
display: block;
height: 20px;
list-style: none;
margin-left: 10px;
padding-left: 20px;
background: url("../images/bullet.gif") no-repeat 0% 50%;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 2em;
}

h2 { 
	font-size: 2em;
	color: #5BB3C4;
	font-weight: normal;
	line-height: 130%;
	margin: 0.5em 0 0.1em 0;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

h4 {
	font-size: 1em;
	margin: 0;
}

p { 
	margin: 0 0 1em 0;
}

h3, h4, p, li {
	color: #606060;
}

.clearer {
clear:both;
height: 1px;
margin: -1px 0px 0px 0px;
padding:0px;
border-style: none;
visibility: hidden;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

/************ Global *************/

#wrapper  {
	width: 770px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

#header {
background: url("../images/border-top.png") no-repeat;
height: 47px;
padding: 37px 0 0 35px;
/*border: 1px solid #f60;*/
}

#banner {
	position:relative;
	z-index:0;
	margin: -50px 0 20px 35px;
	height: 210px;
	voice-family: "\"}\""; 
   voice-family:inherit;
	margin-top: -35px;
}

html>body #banner {
  margin-top: -50px;
}

.heading {
	display: none;
}

.subtitle {
	display: none;
	float:right;
	margin: 3em 50px 0 400px;
	padding: 5px;
	background: url("../images/grey-stripes.gif");
}

#container {
	background: url("../images/border-sides.png") repeat-y;
	color: #606060;
}

#notice {
	padding: 0 35px 0 35px;
}

#content {
	padding: 0 35px 0 35px;
}

#searchbox {
	background: #eee;
	width: 330px;
}

#userbox {
	background: #eee;
	width: 330px;
}



#signupbox {
	background: #EDF5F8;
}

#newmemorial {
	background: #eee;
}

#uploadpictures {
	background: #EDF5F8;
}

#leavecomment {
	float: right;
	background: #eee;
}

#footer {
	height: 140px;
	background: url("../images/border-bottom.png") no-repeat;
	padding: 25px 35px 0 35px;
	text-align: center;	
}

.footer-background {
	padding: 10px;
	background: url("../images/grey-stripes.gif");
}

/************* Public and Manage Index **************/

.column-right {
	float: right;
	padding: 1px 0 0 10px;
	width: 330px;
}

.column-left {
	padding: 1px 10px 0 0;
	width: 330px;
}

/************* Index ***************/

.index-recent-memorials {
	
}

.index-recent-memorial {
	padding-left: 10px;
}

.index-recent-memorials a, .index-recent-memorials a:link, .index-recent-memorials a:visited  {
	text-decoration: none;
}

.index-recent-memorials a:hover {
	font-weight: bold;
}

.index-quote {
	text-align: center;
	font-style: italic;
}

/************* Manage Index *************/

.listline0 {
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}

.listline1 {
	padding: 10px;
	background: #EDF5F8;
}

.listdetailsname a {
	text-decoration: none;
}
.listdetailsname a:hover {
	font-weight: bold;
}

.listdetailsname {
	font-size: 1.5em;
}

.listdetailssummary {
	padding: 0 10px;
}

.listactions {
	line-height: 120%;
	padding: 8px;
}
.searchresultsname {	
	margin-left: 200px;
}

/*************** Memorial Show Page ***************/

.memorial-show-name {
	line-height: 150%;
	font-size: 3em;
}

#memorial-show-details {
	background: #EDF5F8;
}

#memorial-hitcounter {
	background: #eee;
}

/************* Images *************/
.picture-background, .picture-memorial {
	padding: 10px;
	background: url("../images/grey-stripes.gif");
}

.picture-thumbwrapper {
	float: left;
	margin: 5px;
	padding: 2px;
	border: 1px solid #ccc;
}

.picture-options {
	margin: 10px 0 0 -10px;
}