body {
	text-align: left;
	margin: 0;
	padding: 0;
	font-family: Verdana,"Geneva CE",sans-serif;
	font-size: 80%;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

/************ Book **************/
#book {
	width: 800px;
	background: url("../images/bookpage.jpg") repeat-y;
}

#topedge {
	height: 100px;
	background: url("../images/booktop.jpg") no-repeat;
}

#page {
	padding: 0 150px 0 100px;
}


/************ Memorial **************/
h2.title_name {
	margin: 0;
	padding: 0;
	font-size: 3em;
}

p.dob_to_dod {
	font-size: 1.2em;
	font-style: italic;
}

.mainpic {
	margin: 0 20px 20px 0;
}

/************ Pictures **************/
#pictures {
	display: none;
}

/************ Comments **************/
#comments {
	display: none;
}