<h2>Statistics</h2>
<p>Total Users: <b><%= @total_users %></b></p>
<p>Total Memorials: <b><%= @total_memorials %></b></p>
<p>Total Comments: <b><%= @total_comments %></b></p>
<p>Total Pictures: <b><%= @total_pictures %></b></p>