<%= error_messages_for 'system_setting' %>

<!--[form:system_setting]-->
<p><label for="system_setting_name">Name</label><br/>
<%= text_field 'system_setting', 'name'  %></p>

<p><label for="system_setting_value">Value</label><br/>
<%= text_area 'system_setting', 'value'  %></p>
<!--[eoform:system_setting]-->

