<% for column in SystemSetting.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @system_setting.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @system_setting %> |
<%= link_to 'Back', :action => 'list' %>
