<%= error_messages_for 'tribute' %>

<!--[form:tribute]-->
<p><label for="tribute_title">Title</label><br/>
<%= text_field 'tribute', 'title'  %></p>

<p><label for="tribute_description">Description</label><br/>
<%= text_field 'tribute', 'description'  %></p>
<!--[eoform:tribute]-->

