<% for column in Tribute.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tribute.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tribute %> |
<%= link_to 'Back', :action => 'list' %>
