<h4><%= @tribute.title %></h4>
<p><%= @tribute.description %></p>
<%= image_tag url_for_file_column("picture", "image", "thumb") %>
<br /><br />

<%= link_to 'Edit', :action => 'edit', :id => @tribute %> |
<%= link_to 'Back', :action => 'list' %>
