<%= error_messages_for 'static_page' %>

<!--[form:static_page]-->
<p><label for="static_page_name">Name</label><br/>
<%= text_field 'static_page', 'name'  %></p>

<p><label for="static_page_value">Value</label><br/>
<%= text_area 'static_page', 'value'  %></p>
<!--[eoform:static_page]-->

